body,
html {
  height: 100%;
  width: 100%;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

body {
  color: #555;
  margin: 0;
  padding: 1em 2em;
}

a {
  color: #c94d2c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  display: flex;
}

header {
  border-bottom: 2px solid #5EBB86;
  margin: 0 0 1.45em;
  padding: 0 0 1.2em;
}

header
  h1 {
    font-family: Lucida Console, serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }
header
  h1 a {
    color: #5EBB86;
    text-decoration: none;
  }

header
  h2 {
    font-size: 0.8em;
    margin:0;
    padding: 0;
  }


main {
  padding: 0 1.0875rem 1.45rem;
  order: 1;
}

nav {
  width: 6em;
  order: 0;
  border-right: 1px solid lightgray;
  font-size: 0.7em;
  color: #aaa;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav
  ul {
    margin: 0;
    padding: 0;
  }

nav
  li {
    margin: 2em;
  }

footer {
  margin: 1em 0 0;
  padding: 1em 0;
  border-top: 1px solid lightgray;
}
